.DS_Store
xcuserdata

/.DS_Store
Bricks.xcodeproj/project.pbxproj
Bricks.xcodeproj/project.xcworkspace/xcuserdata/NunoVinhas.xcuserdatad/UserInterfaceState.xcuserstate
Bricks.xcodeproj/xcuserdata/NunoVinhas.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
*.orig